{% extends "base_template.html" %}
{% load static %}

{% block title %}
    Antonio's Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}" />
{% endblock %}

{% block content %}
    <header id="main-navigation">
        <h1><a href="">Antonio's Blog</a></h1>
        <nav>
            <a href="">All Posts</a>
        </nav>
    </header>

    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/antonio.jpg' %}" alt="Antonio - This Blog's Author" />
            <h2>ANTONIO'S BLOG</h2>
        </header>
        <p>Hi, my name is Antonio, and I am a Python programmer!</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>

        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img src="{% static 'blog/images/barbecue.jpg'%}" alt="Meat Eating" />
                        <div class="post__content">
                            <h3>Meat Eating</h3>
                            <p>
                                Did you know that meat is one of the most nutrient-dense 
                                foods in the world? :D
                            </p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </section>

    <section id="about">
        <h2>Who I Am</h2>
        <p>
            I am a programmer, a natural bodybuilder, and an enthusiast of the Keto
            and Carnivore diets!
        </p>
        <p>
            Right now I am studying Django, and intend to get to PostgreSQL in the very near
            future!
        </p>
    </section>
{% endblock %}